<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex flex-col sm:flex-row justify-between items-center gap-5">
    <h1 class="font-bold text-4xl">Articles</h1>
    <%= form_with url: search_articles_path, method: :post, data: { controller: 'search-form', search_form_target: 'form' } do |form| %>
      <%= form.search_field :title_search, value: params[:title_search], data: { action: "input->search-form#search" }, placeholder: "Search article", class: "rounded-lg py-3 px-5 block font-medium w-96" %>
    <% end %>
  </div>
  <div id="search_results" class="mt-5 mb-5 min-w-full"></div>
  <div class="flex flex-col w-full">
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
      <div class="py-2 inline-block min-w-full">
        <div class="overflow-x-auto">
          <table class="min-w-full overflow-x-scroll">
            <thead class="bg-white border-b">
              <tr>
                <th class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
                  Name
                </th>
                <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              <% @articles.each do |article|%>
                <tr class="bg-gray-50 border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                    <%= link_to article.name, article, class: "hover:underline duration-300" %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                    <%= article.description %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%# analytics %>
<div class="flex justify-between items-center space-x-8 p-8 mt-8 mb-8 bg-gray-100 rounded-lg">
  <!-- Most Searched Card -->
  <div class="w-1/2">
    <h1 class="text-lg font-bold mb-4">Most Searched Queries</h1>
    <ul>
      <% @most_searched.each do |query, count| %>
        <li class="mb-2"><%= "#{query}: #{count} searches" %></li>
      <% end %>
    </ul>
  </div>
  <!-- Trending Queries Card -->
  <div class="w-1/2">
    <h1 class="text-lg font-bold mb-4">Trending Queries</h1>
    <ul>
      <% @trending.each do |query, count| %>
        <li class="mb-2"><%= "#{query}: #{count} searches" %></li>
      <% end %>
    </ul>
  </div>
</div>
